*{
		font-family: 'Calistoga', cursive;
	}
	body{
		background-color: #829cd0;
	}
	.triangle-left {
	width: 0;
	height: 0;
	border-top: 20em solid #000b4f;
	border-right: 30em solid #20368f;
	border-bottom: 20em solid transparent;
	float: right;
}
	.triangle-right {
	width: 0;
	height: 0;
	border-top: 20em solid transparent;
	border-left: 30em solid #20368f;
	border-bottom: 20em solid #000b4f;
	float: left;
}	
div.a {
  transform: rotate(-34deg);
  position: absolute;
  margin-top: 6em;
  margin-left: 1.2em;
  font-size: 50px;
  color: white;
}
div.b {
  transform: rotate(-34deg);
  position: absolute;
  margin-top: 6em;
  margin-left: 5em;
  font-size: 50px;
  color: white;
}
.asf{
	position: absolute;
	left: 0;
	font-size: 50px;
	color: black;
	margin-left: 20px;
	margin-top: 20px;
	font-weight: bold
}
.box1{
	width: 99%;
	height: 100px;
	margin: auto;
	margin-top: 10px;
	background-color: white;
	position: absolute;
	opacity: .5;
	margin-left: 5px;
}
.user{
	transform: rotate(-34deg);
	position: absolute;
	top: 0;
	margin-top: 15em;
	margin-left: 27em;
}
.pass{
	transform: rotate(-34deg);
	position: absolute;
	top: 0;
	margin-top: 14em;
	margin-left: 35em;
}
.login{
	transform: rotate(-34deg);
	position: absolute;
	top: 0;
	margin-top: 21.5em;
	margin-left: 35em;
}
.signup{
	transform: rotate(-34deg);
	position: absolute;
	top: 0;
	margin-top: 18.5em;
	margin-left: 39em;
}