*{
		font-family: 'Calistoga', cursive;
	}
		body{
			overflow: hidden;
			background-color: #e8f6f9
		}
		.con{
			margin-left: 7em;
		}
		.container1{
			margin-left: 10em;
			margin-top: 5em;
			position: absolute;
			width: 300px;
			height: 100%;
		}
		.container2{
			margin-left: 20em;
			margin-top: 15em;
			position: absolute;
			width: 300px;
			height: 100%;
		}
		.container3{
			margin-left: 32em;
			margin-top: 8em;
			position: absolute;
			width: 300px;
			height: 100%;
		}
		.container4{
			margin-left: 45em;
			margin-top: 17em;
			position: absolute;
			width: 300px;
			height: 100%;
		}
		.top1,.top2,.top3,.top4{
			width: 300px;
			height: 100px;
			background-color: #cdf1f9;
			transform: skew(20deg);
		}
		.left1,.left2,.left3,.left4{
			width: 37px;
			height: 100%;
			background-color: #aee1ec;
			margin-left: -19px;
			position: absolute;
			top: 0;
		}
		.bottom1,.bottom2,.bottom3,.bottom4{
			width: 300px;
			height: 100%;
			background-color: #beeef9;
			margin-left: 18px;
			margin-top: 100px;
			position: absolute;
			top: 0;
		}
		.fname{
			position: absolute;
			margin-left: 9em;
			margin-top: 3em;
			padding: 20px 40px;
			border: none;
			background-color: transparent;
			font-size: 30px;
			font-weight: bold;
		}
		.lname{
			position: absolute;
			margin-left: 20em;
			margin-top: 4.5em;
			padding: 20px 40px;
			border: none;
			background-color: transparent;
			font-size: 30px;
			font-weight: bold;
		}
		.user{
			position: absolute;
			margin-left: 14em;
			margin-top: 8.3em;
			padding: 20px 40px;
			border: none;
			background-color: transparent;
			font-size: 30px;
			font-weight: bold;
		}
		.pass{
			position: absolute;
			margin-left: 27em;
			margin-top: 9.3em;
			padding: 20px 40px;
			border: none;
			background-color: transparent;
			font-size: 30px;
			font-weight: bold;
		}
		.btn{
			bottom: 0;
			width: 99%;
			height: 100px;
			opacity: .5;
			background-color: white;
			position: absolute;
			margin-bottom: 50px;
		}